@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:ital,wght@1,300&family=Titillium+Web:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*afectando etiqueta*/
/* referencia de las fuentes que escogí
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/
html {
    scroll-behavior: smooth;
}
h1 {
    font-family:'Merriweather', serif;
}

h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}

p, a, table{
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: auto;
    color: white;
}

nav ul li{
    display: inline-block;
    
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: 0.5s;
}

nav a:hover {
    background-color: darkcyan;

}

main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


/*afectando clase*/
section {
    margin-top: 20px;
    width: 80%;
    height: auto;
    background-color: rgb(114, 176, 184);
    color: white;
    padding: 25px;
    border-radius: 10px;
}

/*afectanto id*/

#wellcome {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-image: url(../img/code3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profilePic {
    width: 500px;
    height: 400px;
    background-color: black;
    background-image: url(../img/code.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.9);
}


